# Virtual environment
.venv/

# Python
__pycache__/
*.pyc

# Streamlit
.streamlit/

# IDE
.idea/
.vscode/

# SQLite
data/*.db

# pytest
.pytest_cache/

# Ruff
.ruff_cache/

# Black
.black/

# macOS
.DS_Store